<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css')  }}">
    
   


    <center>

       
    <title>
        {% block title %}
        {% endblock %}

    </title>
</head>
<body>
    <nav>
        <a href="/">Home page</a>
        <a href="/contato">Contato</a>
        <a href="/produtos">Produtos</a>
    </nav>

    {% block content %}
    {% endblock %}


    <footer>
        
        
        Desenvolvido por Crestane, 2024</footer>
    <nav>
        <a href="/termos">Termos de Uso</a>
        <a href="/politica">Politica de Privacidade</a>
        <a href="/comousar">Como Usar</a>
    </nav>
</body>

</center>
</html>