{% extends "base.html" %}

{% block title %}Produtos{% endblock %}

{% block content %} 


{% if produtos %}
    <div class = "titulo"> 
        <h1>Produtos</h1>
    <p>Estes são nossos produtos!!</p>
    </div>
    {% for produto in produtos %}
    <div class = "container">
    <h2>{{ produto.nome }}</h2>
    <p>{{ produto.descricao }}</p> </div>
    </div>
    {% endfor %}
{% else %}
    <div class = "titulo"> 
        <h1>Produtos</h1>
    <p>Aguarde o lançamento dos produtos!!</p>
    


{% endif %}      

{% endblock %}
